<h1>Bonjour! Voici un mail pour valider votre inscription!</h1>

<p>
    Pour confirmer votre inscription sur notre blog et commencer à publier, veuillez cliquer sur ce lien s'il vous plait: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon Email</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Au plaisir de vous revoir!
</p>
